<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083590062244-lvii6ags2r21n1r75ucshj64d8eq0vqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083590062244-lvii6ags2r21n1r75ucshj64d8eq0vqt</string>
	<key>API_KEY</key>
	<string>AIzaSyBW7Xqi4MmT9kTdZWvdAGrenr4PnygEKmg</string>
	<key>GCM_SENDER_ID</key>
	<string>1083590062244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memoria</string>
	<key>PROJECT_ID</key>
	<string>memoria-1e7c2</string>
	<key>STORAGE_BUCKET</key>
	<string>memoria-1e7c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083590062244:ios:db9b7258612bb7ed537631</string>
</dict>
</plist>